.contact--inner {
  margin: 0 auto;
  width: 1400px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  gap: 150px;
}

.contact--img {
  width: 1400px;
  max-width: 1400px;
  height: auto;
}

.contact h2 {
  color: var(--turquoise);
}

.contact--content {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact--title {
  max-width: 545px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact--form {
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.required {
  color: var(--turquoise);
}

input,
textarea {
  padding: 17px 20px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
  border: 1px solid var(--turquoise) !important;
  box-shadow: 0px 4px 30px 0px #00A0924D;
  outline: none;
}

.action-panel {
  margin-top: 40px;
}

.action-panel .btn {
  width: 360px;
}

h1 {
  display: none;
}


.form-field.error input {
  border: 1px solid var(--accent);
  background: #F5802133;
}

.error-message {
  min-height: 24px;
  color: var(--accent);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

#register-button:disabled,
#signin-button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
