.map h2 {
  max-width: 601px;
  color: var(--navy);
  text-align: center;
  margin: 0 auto;
}

.map--img {
  width: 1400px;
  max-width: 1400px;
  height: auto;
}

.map--inner {
  width: 1400px;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
