.header {
  top: 0;
  z-index: 30;
  background: var(--accent);
  backdrop-filter: blur(8px);
  /* padding: 0 var(--padding-header-horizontal); */
}

.header--inner {
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 1400px;
  margin: 0 auto;
  /* padding: 0 var(--padding-menu-horizontal); */
}

.header--menu {
  display: flex;
  flex-direction: row;
  gap: 65px;
}

.header--menu .media {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header .user-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header .user-icon:hover {
  color: var(--turquoise);
  cursor: pointer;
}

.logo {
  font-size: 1.35rem;
  font-weight: 700;
}

.logo span {
  color: var(--accent-dark);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--menu-gap);
}

.nav--link {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--black);
  text-transform: uppercase;
}

.nav--link--active,
.nav--link:hover {
  color: var(--turquoise);
}

.nav-light .nav--link {
  color: var(--white);
}

.nav-light .nav--link:hover {
  color: var(--white);
}

.burger {
  display: none;
  border: 0;
  background: transparent;
  width: 34px;
  height: 30px;
  position: relative;
  border-top: 3px solid var(--text);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 34px;
  border-top: 3px solid var(--text);
}

.burger::before { top: 8px; }
.burger::after { top: 19px; }

@media (min-width: 1200px) and (max-width: 1919px) {
    .header--inner {
        width: 1000px;
    }
}

@media (min-width: 640px) and (max-width: 1199px) {
    .header--inner {
        width: 600px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .hero--text {
        max-width: 300px;
        width: 300px;
    }
    .header--menu .media,
    .header--menu .nav {
        display: none;
    }
}

@media (max-width: 639px) {
    .header--inner {
        width: 300px;
    }

    .hero--text {
      max-width: 300px;
      width: 300px;
    }
    .header--menu .media,
    .header--menu .nav {
        display: none;
    }
}

